.slider-1 {
	$self: &;
	box-sizing: border-box;
	position: relative;
	padding: 0 30px;

	&__item {
		margin: 10px;
		position: relative;
	}

	&__item-image {
		display: block; 
		box-sizing: border-box;
		background-color: #fff;
		border: 1px solid #eaeaea;
		> img {
			display: block; 
			box-sizing: border-box;
			width: 92% !important;
			margin: 4%;
		}
	}

	&__item-text {
		position: absolute;
		padding: 25px 15px;
		bottom: calc(4% + 1px);
		right: calc(4% + 1px);
		left: calc(4% + 1px);
		color: #fff;
		background: rgba(0, 0, 0, 0.561);
	}

	&__prev, &__next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
		padding: 0;
		width: 22px;
		height: 40px;
		background: url('') center / 22px 40px no-repeat transparent;
	}

	&__prev {
		left: 0;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arrow-view-grey');
		transform-origin: center 25%;
		transform: rotate(180deg);
	}

	&__next {
		right: 0;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arrow-view-grey');
	}
}
