.tabs-1 {
	$self: &;

	// @include outline();
	display: flex;
	position: relative;
	box-sizing: border-box;
	background-color: $light;
	border: 1px solid lighten($lightgrey, 12);

	&__items {
		box-sizing: border-box;
		width: calc((99.99% / 12) * 3);
		@include xlg(width, calc((99.99% / 12) * 4));
		@include md(width, calc((99.99% / 12) * 5));
		@include sm(width, 100%);

	}

	&__item {
		&:last-of-type {
			#{$self}__title {
				border: none;
			}
		}
	}

	&__title {
		display: block;
		padding: 20px;
		cursor: pointer;
		// @include outline(red);
		background-color: lighten($lightgrey, 12);
		border-bottom: 1px solid $light;
		@include sm-block() {
			background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="17.963" height="10.982" viewBox="0 0 17.963 10.982"><path d="M1049.307,467.556l8.06,7.8,7.8-7.8" transform="translate(-1048.264 -466.478)" fill="none" stroke="#999" stroke-width="3"/></svg>') no-repeat right 30px top 27px;
			background-color: lighten($lightgrey, 12);
		}

		&_active {
			background-color: $light;
			@include sm-block() {
				background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="17.964" height="10.982" viewBox="0 0 17.964 10.982"><path d="M1049.31,467.556l8.06,7.8,7.8-7.8" transform="translate(1066.231 477.46) rotate(180)" fill="none" stroke="#999" stroke-width="3"/></svg>');
				background-color: lighten($lightgrey, 12);
			}

			& + #{$self}__subitem { 
				display: flex; 
			}
		}
	}
	&__subitem {
		display: none;
		padding: 20px;
		background-color: $light;
		box-sizing: border-box;
		position: absolute;
		top: 0; right: 0; bottom: 0;
		overflow: auto;
		width: calc(((99.99% / 12) * 9));
		@include xlg(width, calc((99.99% / 12) * 8));
		@include md(width, calc((99.99% / 12) * 7));
		@include sm-block() {
			width: 100%;
			position: static;
		}

		&[style*="display: block"] {
			display: flex !important; // для jquery
		}
	}
}
