.parallax-1 {
	$self: &;

	&__item {
		display: flex;
		flex-flow: row nowrap;
		@include sm(flex-wrap, wrap);
		&:nth-of-type(even) {
			#{$self}__text { order: -1; }
		}
	}

	&__effect {
		// @include outline();
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		width: 50%;
		@include sm-block() {
			width: 100%;
			height: 400px;
		}
		>* { 
			position: relative;
			z-index: 2; 
		}
	}

	&__effect-box { 
		@include outline();
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		z-index: 1;
		top: -140px; bottom: 0px; right: 0; left: 0;
	}

	&__title {
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		padding: 20px;
		margin-right: 30%;
		text-transform: uppercase;
		transform: translateY(-30%);
		top: 30%;
	}
	
	&__text {
		// @include outline();
		box-sizing: border-box;
		width: 50%;
		@include sm-block() {
			width: 100%;
			order: 0 !important;
		}
		padding: 50px;
		background-color: $light;
		> p::first-letter {
			text-transform: uppercase;
		}
	}
}
