.section {
	$self: &;

	padding: 50px 0;
	&:first-of-type { padding-top: 0; }

	&_grey {
		background-color: #f2f2f2;
	}

	&__container {
		@include wrapper();
	}

	&__items {
		@include row-flex();
		justify-content: center;
	}

	&__item {
		margin-bottom: $offset;
		@include col();
		@include size(8);
		@include size-md(12);
		@include size-xs(20);
		@include size-xxs(24);
		&:last-of-type {
			@include md(display, none);
			@include xs(display, block);
		}
	}

	&__extender {
		padding-top: 150px;
	}

	&__description {
		width: 50%;
		margin-right: 0;
		box-sizing: border-box;
		color: $darkgrey;
		font-size: 0.8rem;
		line-height: 1rem;
		padding: 20px 20px 20px 50px;
		margin: 40px 20px 0px auto;
		background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24.823" height="22.958" viewBox="0 0 24.823 22.958"><path id="Path_1" data-name="Path 1" d="M5.838,10.662A13.945,13.945,0,0,1,4.427,16.9a7.475,7.475,0,0,1-3.85,3.324l2.1,3.4A13.056,13.056,0,0,0,9.09,17.788q1.482-2.821,1.483-9.231V.666H1.342v10Zm14.827,0A13.945,13.945,0,0,1,19.254,16.9a7.475,7.475,0,0,1-3.85,3.324l2.1,3.4a13.056,13.056,0,0,0,6.409-5.835Q25.4,14.967,25.4,8.557V.666H16.169v10Z" transform="translate(-0.577 -0.666)" fill="#ccc" fill-rule="evenodd"/></svg>') 12px 12px no-repeat #fff1c5;
		border: 1px solid darken(#fff1c5, 12);
		background-size: 28px 28px;
	}
}
