.decor {
	$self: &;
	
	max-width: 300px;
	&_postmark {
		transform: rotate(-3deg);
		position: relative;
		box-sizing: border-box;
		display: block;
		background-color: #eee;
		border: 10px solid white;
		box-shadow: -2px 2px 10px 5px rgba(#000, 0.2);
		&::before {
			content: '';
			position: absolute;
			left: -16px; top: -16px; right: -16px; bottom: -16px;
			z-index: 1; 
			border: 12px solid white;
			border-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60"><path d="M60,37V60H37a8,8,0,0,0-16,0H0V37a8,8,0,0,0,8-8,8,8,0,0,0-8-8V0H21a8,8,0,0,0,8,8,8,8,0,0,0,8-8H60V21a8,8,0,0,0,0,16Z" fill="#fff" fill-rule="evenodd"/></svg>') 18 round; 
			
		}
	}
	&_shadow {
		position: relative;
		box-sizing: border-box;
		display: block;
		background-color: #fff;
		padding: 12px;
		border: 1px solid #e2e2e2;
		&::after {
			content: "";
			display: block;
			height: 15px;
			position: absolute;
			bottom: -15px;
			left: 0;
			right: 0;
			background: url(#{$image_path}shadows.png) left bottom no-repeat;			
		}
	}
	&_shadow-right {
		@extend #{$self}_shadow;
		&::after { background-position: right top; }
	}
	img {
		display: block;
		margin: auto;
	}
}
